body {
    background-color: lightblue;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 3em;
    box-shadow: 4px 4px 15px 2px rgba(rgb(21, 3, 65), 0.75);
    transition: 0.2s;

    &:not(:first-child) {
        margin-left: -4em;
    }

    &:hover,
    &:focus-within {
        transform: translateY(-1em);
    }

    &:hover ~ &,
    &:focus-within ~ & {
        transform: translateX(4em);
    }
}